Required libraries installation

In [2]:
!pip3 install matplotlib 
!pip3 install pandas 
!pip3 install numpy 
!pip3 install seaborn
!pip3 install -U scikit-learn

Requirement already satisfied: matplotlib in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (3.6.2)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: fonttools>=4.22.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: cycler>=0.10 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.19 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.22.4)
Requirement already satisfied: packaging>=20.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (1.0.6)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: six in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: pandas in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (1.22.4)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from seaborn) (1.4.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from seaborn) (3.6.2)
Requirement already satisfied: scipy>=1.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: numpy>=1.15 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from seaborn) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: packaging>=20.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (1.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (1.1.1)
Collecting scikit-learn
  Downloading scikit_learn-1.3.1-cp38-cp38-win_amd64.whl (9.3 MB)
     ---------------------------------------- 9.3/9.3 MB 2.9 MB/s eta 0:00:00
Collecting joblib>=1.1.1
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     -------------------------------------- 302.2/302.2 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (2.1.0)
Collecting scipy>=1.5.0
  Downloading scipy-1.10.1-cp38-cp38-win_amd64.whl (42.2 MB)
     ---------------------------------------- 42.2/42.2 MB 3.4 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\soffi\appdata\local\programs\python\python38\lib\site-packages (from scikit-learn) (1.22.4)
Installing collected packages: scipy, joblib, scikit-learn
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.1.1
    Uninstalling scikit-learn-1.1.1:
      Successfully uninstalled scikit-learn-1.1.1
Successfully installed joblib-1.3.2 scikit-learn-1.3.1 scipy-1.10.1

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

DATA PROCESSING

In [14]:
import pandas as pd
# Read data from an Excel file 
df = pd.read_csv('data.csv')

# number of observations
print(len(df))

# displaying data 
df.head()

9582

,Entreprise,Metier,Technologies,Diplome,Experience,Ville
0,Sanofi,Data scientist,Matlab/Python/Pyspark/Scikit-learn/Tensorflow,Master,1,Paris
1,Massachusetts General Hospital(MGH),Data architecte,Python/Java/Scala/MongoDB,Master,3,Marseille
2,Delve,Lead data scientist,SPSS/SQL/Teradata/R/Python/Tensorflow/scikit-l...,Master,3,Nantes
3,Ann & Robert H. Lurie Children’s Hospital of C...,Data scientist,C/C++/Java/Python,Master,"1,5",Marseille
4,Arm,Data scientist,Matlab/Python/C++/numpy/Tensorflow/scikit-learn,Phd,NaN,Bordeaux

Checking missing values

In [11]:
# Check for empty elements in each column
df.isna().sum()

Entreprise      17
Metier          19
Technologies     0
Diplome          0
Experience      94
Ville            0
dtype: int64

Normalisation de la colonne Metier en lower case

In [15]:
df['Metier'] = df['Metier'].str.lower()

In [16]:
df.head()

,Entreprise,Metier,Technologies,Diplome,Experience,Ville
0,Sanofi,data scientist,Matlab/Python/Pyspark/Scikit-learn/Tensorflow,Master,1,Paris
1,Massachusetts General Hospital(MGH),data architecte,Python/Java/Scala/MongoDB,Master,3,Marseille
2,Delve,lead data scientist,SPSS/SQL/Teradata/R/Python/Tensorflow/scikit-l...,Master,3,Nantes
3,Ann & Robert H. Lurie Children’s Hospital of C...,data scientist,C/C++/Java/Python,Master,"1,5",Marseille
4,Arm,data scientist,Matlab/Python/C++/numpy/Tensorflow/scikit-learn,Phd,NaN,Bordeaux

Processing Experience Column

In [20]:
df['Experience'] = df['Experience'].str.replace(',', '.')

# Convertissez la colonne en nombres décimaux (floats)
df['Experience'] = df['Experience'].astype(float)

In [21]:
df.head()

,Entreprise,Metier,Technologies,Diplome,Experience,Ville
0,Sanofi,data scientist,Matlab/Python/Pyspark/Scikit-learn/Tensorflow,Master,1.0,Paris
1,Massachusetts General Hospital(MGH),data architecte,Python/Java/Scala/MongoDB,Master,3.0,Marseille
2,Delve,lead data scientist,SPSS/SQL/Teradata/R/Python/Tensorflow/scikit-l...,Master,3.0,Nantes
3,Ann & Robert H. Lurie Children’s Hospital of C...,data scientist,C/C++/Java/Python,Master,1.5,Marseille
4,Arm,data scientist,Matlab/Python/C++/numpy/Tensorflow/scikit-learn,Phd,NaN,Bordeaux

Imputation

In [32]:
# Calculer la médiane pour les data scientists
median_experience_ds = df[df['Metier'] == 'data scientist']['Experience'].median()
median_experience_ds
# Calculer la moyenne pour les data engineers
mean_experience_de = df[df['Metier'] == 'data engineer']['Experience'].mean()
print(mean_experience_de, median_experience_ds)
# Imputer les valeurs manquantes en fonction du metier
df.loc[df['Metier'] == 'data scientist', 'Experience'].fillna(median_experience_ds)
df.loc[df['Metier'] == 'data engineer', 'Experience'].fillna(mean_experience_de)

2.984959174903309 2.0

9       5.0
10      0.5
15      3.0
18      3.0
19      8.0
       ...
9564    0.0
9565    4.0
9569    0.5
9570    2.0
9575    4.0
Name: Experience, Length: 2347, dtype: float64

In [33]:
# Check for empty elements in each column
print(df['Experience'].isna().sum())

94